#centralPanel{
    width: 50%;
}

.backButton{
    color: #1777f2;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px){
    #centralPanel{
        width: 80%;
    }
}