.grigItem{
    display: grid;
    grid-template-areas: "itemName itemEmail itemPoints";
    grid-template-columns: 45% 45% 5%;
    gap: 8px;
}

.itemName{
    grid-area: itemName;
}

.itemEmail{
    grid-area: itemEmail;
}

.itemPoints{
    grid-area: itemPoints;
}