.gridItem{
    display: grid;
    grid-template-areas: "itemName itemPoints";
    grid-template-columns: 89% 10%;
    gap: 8px;
}

.itemName{
    grid-area: itemName;
}

.itemPoints{
    display: flex;
    grid-area: itemPoints;
    justify-content: flex-end;
}