.startPanel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
#centralPanel{
    background: transparent;
}

@media screen and (max-width: 600px){
    .startPanel{
        display: flex;
        flex-direction: column;
    }
    #centralPanel{
        width: 100%;
    }
}