.textArea{
    margin-bottom: 10%;
}

.loginForm{
    display: flex;
    justify-content: space-between;
}

.inputArea{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nameField{
    display: flex;
    background: #f6f7fb;
    padding: 12px;
    width: 220px;
    border-radius: 15px;
    border: 1px solid transparent;
}


.formArea{
    display: flex;
    flex-direction: column;
}