.home{
    padding: 20%;
    background: #f2f2f2;
}

.container{
    border-radius: 30px;
}

.answerForm{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.textArea{
    width: fit-content;
    height: 3em;
    font-size: 24px;
}

.questionPanel{
    padding: 20px;
    background: white;
    border-radius: 20px;
    z-index: 99;
}

.container{
    height: 90%;
    gap: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answersPanel{
    padding: 20px;
    background: white;
    border-radius: 20px;
    z-index: 99;
}

@media screen and (max-width: 600px){
    .textArea{
        font-size: 22px;
        min-height: 6em;
        height: fit-content;
    }
    .container{
        width: 90%;
    }
    #centralPanel{
        width: 80%;
    }
}
